In [4]:
import pandas as pd

# Load the Parquet file

train_file_path = "../data/train/train_batch_0.parquet"
df = pd.read_parquet(train_file_path)



df.head()

,region,averageTier,averageDivision,champion_ids,label
0,0,0,0,"[901, 121, 163, 22, 111, 58, 60, 27, 236, 267]",0
1,0,0,0,"[79, 59, 55, 145, 111, 893, 30, 875, 221, 235]",1
2,0,0,0,"[27, 887, 166, 115, 526, 58, 36, 268, 145, 89]",1
3,0,0,0,"[43, 5, 134, 145, 40, 39, 234, 13, 901, 235]",1
4,0,0,0,"[126, 57, 893, 67, 555, 24, 19, 777, 145, 201]",1