In [1]:
import pandas as pd

# Load the Parquet file

train_file_path = "../data/train/train_batch_0.parquet"
df = pd.read_parquet(train_file_path)



df.head()

,region,averageTier,averageDivision,champion_ids,gameVersionMajorPatch,gameVersionMinorPatch,win_prediction,game_duration,gold_at_15_TOP_100,gold_at_15_TOP_200,gold_at_15_JUNGLE_100,gold_at_15_JUNGLE_200,gold_at_15_MIDDLE_100,gold_at_15_MIDDLE_200,gold_at_15_BOTTOM_100,gold_at_15_BOTTOM_200,gold_at_15_UTILITY_100,gold_at_15_UTILITY_200
0,0,0,0,"[36, 5, 61, 147, 235, 163, 427, 910, 21, 111]",14,17,0,1898,5978,5001,5848,5051,6382,5468,4519,6462,3937,4633
1,0,0,0,"[777, 106, 246, 110, 350, 150, 120, 901, 81, 111]",14,17,1,1963,4100,6376,5364,5091,5402,7148,5745,4052,3698,3957
2,0,0,0,"[875, 59, 103, 136, 111, 150, 5, 61, 202, 497]",14,18,0,1506,4162,7202,5022,6534,4996,6441,4927,4951,3179,4514
3,0,0,0,"[24, 56, 61, 202, 89, 901, 876, 166, 81, 555]",14,18,0,1607,6742,3743,6713,6114,6028,6781,6135,7318,4611,4086
4,0,0,0,"[92, 28, 42, 51, 25, 80, 234, 901, 30, 89]",14,17,1,1766,5086,5832,7475,7815,6642,5497,7665,5289,4397,3666